include examples/*.py

include conf/*.yaml
include conf/**/*.yaml
include conf/species/**/*

include experiments/**/*.yaml
include experiments/013_descendants/official_all_metadata.json
include experiments/019_neural_lenia/emoji*.png